* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Lato', sans-serif;
}

.top {
    position: relative;
    overflow: hidden;
}

.center {
    padding-left: calc(50% - 570px);
    padding-right: calc(50% - 570px);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.header {
    min-height: 75px;
    background: #222222;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
}

.header-left-menu {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    gap: 41px;
}

.header-right-menu {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    gap: 33px;
}

.header-dropdown {
    position: relative;
}

.header-img-1 {
    background-image: url(img/header-img-1.svg);
    width: 44px;
    height: 38px;
}

.header-img-2 {
    background-image: url(img/header-img-2.svg);
    width: 26px;
    height: 26.79px;
}

.header-dropdown {
    width: 32px;
    height: 23px;
}

.dropdown {
    display: none;
    position: absolute;
    z-index: 1;
    width: 232px;
    height: 634px;
    background: #FFFFFF;
    left: 100%;
    /* Всплывающее меню должно находиться под иконкой наведения, но сделала отступы по макету */
    margin-left: 135px;
    margin-top: 24px;
    box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
}

.header-dropdown:hover .dropdown {
    display: block;
}

.dropdown-item-all {
    margin: 32px 144px 24px 33px;
}

.dropdown-item-menu {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #000000;

}

.dropdown-item-chapter {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #F16D7F;
    margin-left: 32px;
}

.dropdown-chapter {
    margin-bottom: 12px;
}

.dropdown-item-subsection {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #6F6E6E;
    margin-left: 54px;
}

.dropdown-subsection {
    margin-bottom: 11px;
}

.dropdown-item {
    margin-bottom: 20px;
}

.header-img-4 {
    background-image: url(img/header-img-4.svg);
    width: 29px;
    height: 29px;
}

.header-img-5 {
    background-image: url(img/header-img-5.svg);
    width: 32px;
    height: 29px;
}

.section {
    background: #f1e4e6;
    max-height: 764px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.section-img {
    width: 800px;
    height: 764px;
    background-image: url(img/header-Layer.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 0 63px 0 0;
}

.section-title {
    border-left: 12px solid #F16D7F;
    padding-left: 16px;
    margin-top: 290px;
    margin-bottom: 381px;
}

.section-title-h2 {
    min-width: 377px;
    width: 100%;
    font-style: normal;
    font-weight: 900;
    font-size: 48px;
    line-height: 58px;
    color: #222222;
    text-transform: uppercase;
}

.section-subtitle-h2 {
    display: block;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;

}

.section-subtitle-h2 span {
    color: #F16D7F;
}

.content {
    padding-top: 65px;
}


.content-offer-list {
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(3, 1fr);
    max-width: 1140px;
}


.content-offer-item {
    width: 100%;
    min-height: 260px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    /* для затемнения фоновой картинки */
    background-color: rgba(33, 22, 22, 0.7);
    background-blend-mode: darken;
}

.big {
    min-height: 180px;
    grid-column: 1 / -1;
}

.content-offer-item:nth-child(1) {
    background-image: url(img/content-women.png);
}

.content-offer-item:nth-child(2) {
    background-image: url(img/content-men.png);
}

.content-offer-item:nth-child(3) {
    background-image: url(img/content-kids.png);
}

.content-offer-item:last-child {
    margin: 0;
    background-image: url(img/content-accesories.png);
}

.content-offer-text {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    min-height: inherit;
    width: 100%;
    text-decoration: none;
    cursor: pointer;
}

.content-offer-text p {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #FFFFFF;
}

.content-offer-text h3 {
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: #F16D7F;
}

.content-subject {
    margin-top: 96px;
    margin-bottom: 48px;
}

.content-subject-title {
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    color: #222222;
    text-align: center;
}

.content-subject-text {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #9F9F9F;
    text-align: center;
}

.products {
    background-color: #fff;
}

.products-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, 360px);
    -webkit-box-pack: center;
    gap: 30px;
    justify-content: center;
}

.products-item {
    max-width: 360px;
    background: #F8F8F8;
    display: block;
    position: relative;
    text-decoration: none;
    box-sizing: border-box;

}

.products-item:hover .products-item-btn {
    display: flex
}

.products-item:hover .products-item-btn:hover {
    background-color: #ccc;
    color: #000;
    border: 1px solid #000;
}

.products-item:hover .products-item-btn:hover svg {
    fill: #000;
}

.products-item:hover .products-item-btn:active {
    background-color: transparent;
    color: #fff;
    border: 1px solid #fff;
}

.products-item:hover .products-item-btn:active svg {
    fill: #fff;
}

.products-item:hover .products-item-photo-wrp:before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background: rgba(58, 56, 56, 0.86);
    position: absolute;
    top: 0;
    left: 0;
}

.products-item-photo-wrp {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #F7E4E2;
    box-sizing: border-box;
    /* для затемнения через псевдоэлемент необходимо задать родительскому блоку position: relative; */
    position: relative;
}

.products-item-photo {
    display: block;
    margin: 0 auto;
    box-sizing: border-box;
    width: 100%;
    height: auto;
}

.blok-2 {
    background: #F7E4E2;
    max-height: 420px;
    padding-top: 9px;
    padding-bottom: 11px;
    width: 100%;
    height: auto;
}

.products-item-txt-wrp {
    padding: 25px 28px 20px 16px;
    box-sizing: border-box;
    text-align: left;
}

.products-item-title {
    display: block;
    margin: 0 0 12px 0;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    color: #000000;
}

.products-item-txt {
    margin: 0 0 18px 0;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #5D5D5D;
}

.products-item-price {
    display: block;
    margin: 0;
    font-size: 16px;
    line-height: 19px;
    color: #F16D7F;
}

.products-item-btn {
    display: none;
    justify-content: center;
    align-items: center;
    width: 160px;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #FFFFFF;
    background: transparent;
    text-align: center;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    position: absolute;
    top: 30%;
    left: calc(50% - 80px);
}

.products-item-btn svg {
    fill: #fff;
    margin: 0 11px 0 0;
}

.products-btn {
    display: block;
    width: 100%;
    max-width: 211px;
    margin: 0 auto;
    padding: 14.5px;
    background-color: #fff;
    border: 2px solid #F26376;
    box-sizing: border-box;
    color: #F26376;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    word-break: break-all;
}

.products-btn:hover {
    background-color: #fff;
    border: 2px solid #000;
    color: #000;
}

.products-btn:active {
    background-color: #fff;
    border: 2px solid #F26376;
    color: #F26376;
}

.content-product-button {
    width: 211px;
    height: 47px;
    border: 1px solid #FF6A6A;
    position: relative;
    margin: 48px auto 60px auto;
}

.content-product-button:hover {
    background: #F16D7F;
}

.content-product-btn {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #F26376;
    text-decoration: none;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.content-product-btn:hover {
    color: #FFFFFF;
}

.footer-menu {
    width: 100%;
    min-height: 341px;
    background: #222224;
}

.footer-menu-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    padding-top: 104px;
    padding-bottom: 104px;
}

.footer-menu-item {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
}

.footer-menu-item-1 {
    width: 45px;
    height: 32px;
    background-image: url(img/footer-menu-item-1.svg);
    background-repeat: no-repeat;
    display: block;
}

.footer-menu-item-2 {
    background-image: url(img/footer-menu-item-2.svg);
    width: 40px;
    height: 40px;
    background-repeat: no-repeat;
    display: block;
}

.footer-menu-item-3 {
    background-image: url(img/footer-menu-item-3.svg);
    width: 47px;
    height: 35px;
    background-repeat: no-repeat;
    display: block;
}

.footer-menu-item-h-1 {
    font-style: normal;
    font-weight: 400;
    font-size: 19.96px;
    line-height: 24px;
    color: #FBFBFB;
    margin-bottom: 16px;
    margin-top: 28px;
}

.footer-menu-item-h-2 {
    font-style: normal;
    font-weight: 400;
    font-size: 19.96px;
    line-height: 24px;
    color: #FBFBFB;
    margin-bottom: 16px;
    margin-top: 20px;
}

.footer-menu-item-h-3 {
    font-style: normal;
    font-weight: 400;
    font-size: 19.96px;
    line-height: 24px;
    color: #FBFBFB;
    margin-bottom: 16px;
    margin-top: 25px;
}

.footer-menu-item-p {
    font-style: normal;
    font-weight: 300;
    font-size: 13.972px;
    line-height: 17px;
    text-align: center;
    color: #FBFBFB;
    max-width: 360px;
    min-height: 34px;
}

.footer-page {
    min-height: 448px;
    background-image: linear-gradient(rgba(244, 244, 244, .7), rgba(244, 244, 244, .7)), url(img/footer-page-fon.png);
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 97px;
}

.footer-page-list {
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
}

.footer-page-left {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    max-width: 359px;
    height: 225px;
}

.footer-page-left-photo {
    background-image: url(img/footer-page-photo.png);
    width: 96px;
    height: 96px;
    display: block;
}

.footer-page-left-p {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #222224;
}

.footer-page-right {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
    max-width: 356px;
    height: 142px;
}

.footer-page-right-h3 {
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 40px;
    text-align: center;
    color: #222224;
}

.footer-page-right-h4 {
    font-weight: 400;
    font-size: 15px;
    line-height: 16px;
    color: #000000;
    max-width: 557px;
}

.footer-page-right-email {
    max-width: 356px;
    height: 49px;
    margin-top: 32px;
    text-align: center;
    background: #E1E1E1;
    border-radius: 20px;

}

.email {
    border: none;
    margin-right: 0px;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    float: left;
    max-width: 170px;
    height: 36px;
    background: #E1E1E1;
    /* border-radius: 20px 0 0 20px; */
    margin: 7px auto 7px 22px;
    transition: background-color 50000s, color 50000s, filter 50000s;
    outline: none;
}


.sbtn {
    border: none;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    float: right;
    width: 100px;
    height: 100%;
    background: #E05C6E;
    border-radius: 0 20px 20px 0;
}

.footer-container {
    background: #222224;
    min-height: 79px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    -webkit-box-align: center;
    padding-left: 235px;
    padding-right: 230px;
}

.footer-container-brand {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #FBFBFB;
}

.footer-container-network-list {
    display: flex;
    flex-wrap: nowrap;
    gap: 7px;
}

.footer-container-network-item {
    width: 32px;
    height: 32px;
    background: #FFFFFF;
}

.footer-container-network-item:hover {
    background: #F16D7F;
}

.network-1 {
    background-image: url(img/footer-container-network-1.svg);
    background-repeat: no-repeat;
    width: 8px;
    height: 15px;
    margin: 8px 12px;
}

.network-2 {
    background-image: url(img/footer-container-network-2.svg);
    background-repeat: no-repeat;
    width: 15px;
    height: 15px;
    margin: 9px 8px;
}

.network-3 {
    background-image: url(img/footer-container-network-3.svg);
    background-repeat: no-repeat;
    width: 12px;
    height: 15px;
    margin: 8px 9px;
}

.network-4 {
    background-image: url(img/footer-container-network-4.svg);
    background-repeat: no-repeat;
    width: 16px;
    height: 13px;
    margin: 9px 8px;
}


@media (max-width: 1024px) {
    .header {
        padding-left: calc(50% - 343px);
        padding-right: calc(50% - 343px);
    }

    .section {
        max-height: 368px;
    }

    .section-img {
        width: 368px;
        height: 368px;
        margin: 0 39px 0 0;
    }

    .section-title {
        margin-top: 138px;
        margin-bottom: 152px;
    }

    .section-title-h2 {
        font-size: 44px;
        line-height: 53px;
    }

    .section-subtitle-h2 {
        font-size: 24px;
        line-height: 29px;
    }

    .content {
        padding-left: 16px;
        padding-right: 16px;
    }

    .content-offer-list {
        gap: 20px;
    }

    .content-offer-item {
        min-height: 167px;
    }

    .big {
        min-height: 116px;
    }

    .content-subject {
        margin-top: 110px;
        margin-bottom: 73px;
    }

    .products-list {
        gap: 16px;
    }

    .content-product-button {
        margin: 32px auto 71px auto;
    }

    .footer-menu-list {
        flex-direction: column;
        gap: 48px;
    }

    .footer-page-list {
        flex-direction: column;
        gap: 48px;
    }

    .footer-page-right-email {
        margin-top: 27px;
        margin-bottom: 140px;
    }

    .footer-container {
        padding-left: 32px;
        padding-right: 32px;
    }
}

@media (max-width: 767px) {
    .header-left-menu {
        margin-left: 16px;
    }

    .header-right-menu {
        margin-right: 16px;
    }

    .header-img-4 {
        display: none;
    }

    .header-img-5 {
        display: none;
    }

    .section-img {
        display: none;
    }

    .section-title-h2 {
        font-size: 38px;
        line-height: 46px;
        min-width: 236px;
    }

    .section-subtitle-h2 {
        font-size: 20px;
        line-height: 24px;
    }

    .content {
        padding-left: 8px;
        padding-right: 8px;
    }

    .content-offer-list {
        gap: 32px;
        grid-template-columns: 1fr;
        justify-items: center;
    }

    .content-offer-item {
        min-height: 247px;
        max-width: 343px;
    }

    .big {
        min-height: 111px;
    }

    .content-subject {
        margin-top: 64px;
        margin-bottom: 64px;
    }

    .products-list {
        grid-template-columns: 1fr;
        justify-items: center;
        width: auto;
    }

    .content-product-button {
        margin: 41px auto 85px auto;
    }

    .footer-page-left-p {
        font-size: 18px;
        line-height: 22px;
    }

    .footer-page-right-h3 {
        line-height: 37px;
    }

    .footer-page-right-h4 {
        min-width: 271px;
    }

    .footer-page-right-email {
        margin-top: 22px;
        margin-bottom: 110px;
        max-width: 341px;
        height: 47px;
    }

    .sbtn {
        max-width: 28%;
    }

    .footer-container {
        flex-direction: column-reverse;
        gap: 40px;
        justify-content: space-between;
        padding-top: 43px;
        padding-bottom: 9px;
    }

    .dropdown {
        margin-left: -150px;
    }

}